<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Baby-URL</title>
</head>
<body>
    <!--<form id="shortItForm" action="javascript:;">-->
    <!--    <input type="url" name="url">-->
    <!--    <button type="submit">Shorten It</button>-->
    <!--</form>-->
    <h4>
        How to use this API.
    </h4>
    <hr>
    <p>
        To convert url to short url make a post request at url <span style="color:red"> https://node-server-noobandy.c9users.io/baby-url </span>
        With json body 
        <pre>
            {
                "url": "https://github.com/mgonto/restangular#how-do-i-handle-crud-operations-in-a-list-returned-by-restangular"
            }
        </pre>
        You will receive a reponse like
        <pre>
            {
                "url": "https://github.com/mgonto/restangular#how-do-i-handle-crud-operations-in-a-list-returned-by-restangular",
                "short": "https://node-server-noobandy.c9users.io/zsxys1"
            }
        </pre>
        Visting the short url will redirect you to original url.
    </p>
    <script>

        let shortItForm = document.getElementById("shortItForm")
        shortItForm.addEventListener('submit', function(e) {
            e.preventDefault()
            let xhr = new XMLHttpRequest()
            xhr.onreadystatechange = function() {
                if(xhr.readyState == XMLHttpRequest.DONE) {
                    if(xhr.status == 200) {
                        console.log(JSON.parse(xhr.responseText))
                    } else {
                        console.log(xhr.responseText)
                    }
                }
            }

            xhr.open('POST', `http://localhost:3000/api/baby-url`)
            xhr.setRequestHeader('Content-Type', 'application/json')
            let formData = {}
            formData.url = shortItForm.querySelector('input[name="url"]').value
            console.log(formData)
            xhr.send(JSON.stringify(formData))

        })
    </script>
</body>
</html>