<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Baby-URL</title>
</head>
<body>
    <form id="shortItForm" action="javascript:;">
        <input type="url" name="url">
        <button type="submit">Shorten It</button>
    </form>
    <script>
        let shortItForm = document.getElementById("shortItForm")
        shortItForm.addEventListener('submit', function(e) {
            e.preventDefault()
            
        })
    </script>
</body>
</html>